body{
  background:#020617;
  color:white;
  font-family:sans-serif;
}
.quote{
  text-align:center;
  font-weight:900;
  margin:20px;
}
.panel{
  background:#0f172a;
  padding:15px;
  margin:10px;
  border-radius:10px;
}
.card{
  background:#1e293b;
  padding:10px;
  margin:10px;
  border-radius:8px;
}
#login-modal{
  position:fixed;
  top:30%;
  left:40%;
  background:#111;
  padding:20px;
}
